<div class="content">
    <h3>I'm a Web Developer</h3>
    <div class="seperator"></div>
    <p>With a university degree and industry experience behind me, I've been working in the 
      latest technologies, including Angular and React, for a couple of years already. Having a 
      site or app that users remember and leave feeling they've gained something is must in 
      todays world. Thats where I come in.
    </p>

    <div class="seperator"></div>

    <h4>Skillset</h4>
    <ul class="skillset">
        <li >   
            HTML5 
            <span>/</span> Pug
        </li>
        <li>
          CSS 3 
          <span>/</span> SASS
           <span>/</span> SCSS
           <span>/</span> Stylus
        </li>
        <li >
            JavaScript
            <span>/</span> Angular
            <span>/</span> React
            <span>/</span> Node
        </li>
        <li >
            GSAP (TweenMax) 
            <span>/</span> CSS Animation
        </li>
        <li >
            WordPress 
            <span>/</span> MySQL
        </li>
        <li > 
            Firebase 
            <span>/</span> Netlify 
            <span>/</span> GCP 
            <span>/</span> AWS
        </li>
        <li >
             Git 
            <span>/</span> GitHub 
        </li>
        <li >      
            Terminal 
            <span>/</span> Zsh 
            <span>/</span> Vi 
            <span>/</span> VSCode
        </li>
        <li >
            Sketch 
            <span>/</span> Photoshop 
        </li>
        <li >
            Slack 
            <span>/</span> Discord
        </li>
        <li >
               etc ...
        </li>
    </ul>

    <div class="seperator"></div>

    <h4>Got a project?</h4>
    <p>Let's have a chat about it.</p>
    <a routerLink="/contact"><p>Get in touch!</p></a>

    <div class="seperator"></div>

    <h4>Social</h4>
    <ul class="social">
      <li><a href="mailto:info@davidvanzyl.io">Email</a></li>
      <li><a href="https://github.com/DavidvanZyl">Github</a></li>
    </ul>

</div>