<div class="content">
  <h4 id="greeting">Hello! Welcome to my Portfolio!</h4>
  <div class="seperator"></div>
  <h3 id="name">David van Zyl ({{age}})</h3>
  <div class="seperator"></div>
  <h4>All about Web</h4>
  <p>I am a young and talented web dev with experience right across the board. Making use of the latest best practice and a precise focus on
    achieving a purpose is essential, esspecially in todays world where SPAs and cross platform apps built
    with web technologies are so prevelant.
  </p>

  <a routerLink="/about">FIND OUT MORE...</a>
  <div class="seperator"></div>
  <h4>History</h4>
  <!-- <p>Founder @ Precision Ltd.</p>
  <p class="timespan">2019 - Present</p> -->

  <p>Web Dev @ Roller</p>
  <p class="timespan">2017 - Present</p>

  <p>Freelance</p>
  <p class="timespan">2016 - Present</p>

  <p>Computer Science (BSc)</p>
  <p class="timespan">2015 - 2019</p>

  
</div>