@import './../../scss/variables';

nav {

    height: 100%;
    width: 100%;
    background-color: $primary;
    color: $navColor;

    ul {
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        li {
            text-transform: uppercase;
            box-sizing: border-box;
            width: 100%;
            font-size: 1.5rem;
            padding: 3rem 1rem;
            text-align: center;
            cursor: pointer;
            will-change: color;
            &:hover {
                color: $textHover;
            }
            &:focus {
                outline: none;
            }            
        }
    }
}

